<div class="container"> 
    <div class="row">
        <div class="col-xs-12 col-md-8 col-lg-6">
            <h3 class="mb-3">Книги</h3>
            <app-search-panel (changedSearchValue)="searchBooks($event)" ></app-search-panel>
        </div>
    </div>
    <ng-container *ngIf="Books && Books.length > 0">
        <div class="row" *ngFor="let Book of Books">
            <div class="col-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title cursor-pointer" (click)="viewBook(Book.isbn)">
                            {{Book.title}}
                        </h5> 
                        <h6 class="card-subtitle mb-2 text-muted">{{Book.authors}}</h6>
                        <p class="card-text">Год: {{Book.publishYear}}</p>
                        <div class="book-rating mb-2">Рэйтинг: 
                            <app-rating [BookISBN]="Book.isbn"></app-rating> 
                        </div>
                        <app-comment [BookISBN]="Book.isbn" [ReadOnly]="true"></app-comment>
                    </div>
                </div>
            </div>
            
        </div>
    </ng-container>
    <ng-container *ngIf="!Books">
        <div class="col-12 text-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Загрузка книг...</span>
            </div>
        </div>
    </ng-container>
</div>
